[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
py3dmol = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
torch = "*"
torchvision = "*"
fair-esm = "*"
matplotlib = "*"
plotly = "*"
tqdm = "*"
torch-geometric = "*"
torch-cluster = "*"
torch-scatter = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
