[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
py3dmol = "*"
pandas = "*"
numpy = "==1.26.4"
jupyter = "*"
torch = "==2.2.0"
torchvision = "*"
fair-esm = "*"
matplotlib = "*"
plotly = "*"
tqdm = "*"
torch-geometric = "==2.4.0"
torch-cluster = "==1.6.3"
torch-scatter = "==2.1.2"
pydantic = "==2.6.1"
pytest = "*"
pyarrow = "*"
meshlib = "*"
open3d = "*"

[dev-packages]
pywavefront = "*"
numba = "*"

[requires]
python_version = "3.11"
